{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!--===================================================-->
<!--====================== Contact ======================-->
<!--===================================================-->

        <section id="contact">
                <div class="container wow fadeInUp">
                  <div class="section-header">
                    <h3 class="section-title"><a href="/"><i class="fas fa-hotel" style="color: rgba(65, 59, 56, 0.646);"></a></i>&nbsp &nbsp Contact Us</h3>
                    <p class="section-description"> <b>Thank you for contacting Janus Travel!</b> <br><em>We are located in the historic Norwood Park neighborhood of Chicago.</em><br> Please fill out the form below.</p>
                  </div>
                </div>


    <!-- Uncomment below if you wan to use dynamic maps -->
    <iframe src="https://maps.google.com/maps?q=6121%20N.%20Northwest%20Highway&t=&z=13&ie=UTF8&iwloc=&output=embed"
        width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-4">

                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>6121 N. Northwest Highway<br>Chicago, IL. 60631</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>info@janustravel.com</p>
                    </div>

                    <div>
                        <i class="fas fa-phone-volume"></i>
                        <p>+1 (773) 763-2767</p>
                    </div>
                </div>

                <div class="social-links">
                    <a href="https://twitter.com/JanusTravel" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/JanusTravel" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/janus_travel/"  target="_blank" class="instagram" ><i class="fab fa-instagram"></i></a>
                    <a href="https://www.yelp.com/biz/janus-travel-chicago" class="yelp" target="_blank"><i class="fab fa-yelp"></i></a>
                    <a href="https://www.tripadvisor.com/" class="tripadvisor" target="_blank"><i class="fab fa-tripadvisor"></i></a>
                </div>

            </div>

            <!--======================= Form ========================-->
                <div class="form">
                    <form method="post">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
</section><!-- #contact -->
<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
  
      </div>
    </div>
  
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Janus Travel</strong>. All Rights Reserved
      </div>
{% endblock %}
