{% extends "base.html" %}
{% block content %}
{% load static %}
  <section id="contact">
                <div class="container wow fadeInUp">
                  <div class="section-header">
                    <h3 class="section-title"><a href="/"><i class="fas fa-hotel" style="color: rgba(0, 0, 0, 0.646);"></a></i>&nbsp &nbsp THANK YOU!</h3>
                    <p class="section-description"> <b>Thank you for contacting Janus Travel!</b> <br><em>One of our agents will respond shortly.</em></p>
                  </div>
                </div>
  </section>
{% endblock %}